{% extends "characters/base.html" %}
{% block body %}
<h1>{{ collection }}</h1>

<table>
<tr>
    {% for head in header %}
        <th><a href="{% url "value-count" collection.id %}?add={{ head }}">+{{ head }}</a></th>
    {% endfor %}
</tr>
{% for row in data %}
    <tr>
    {% for cell in row %}<td>{{ cell }}</td>{% endfor %}
    </tr>
{% endfor %}
</table>

{% if next_limit %}
    <a href="{% url "collection-detail" collection.id %}?limit={{ next_limit }}">Load more results</a>
{% endif %}
{% endblock %}
